<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>
<body>

<div th:replace="~{navigation :: navi(Home)}"/>

<div class="container">
    <h1>Добро пожаловать в наш магазин</h1>
    <h2>Список товаров:</h2>
    <!--todo make html page with pagination, with ajax requests to add product to cart with pop up message 'added to cart' -->
    <!--todo make cards with photos interface-->
    <!--   todo favicon-->
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>DESC</th>
            <th>COST</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productsList}">
            <td th:text="${product.getId()}"/>
            <td th:text="${product.getTitle()}"/>
            <td th:text="${product.getShortDescription()}"/>
            <td th:text="${product.getPrice()}"/>
            <td><a th:href="@{'/addToCart/'+${product.getId()}}" class="btn btn-secondary">Add to cart</a></td>
            <td><a th:href="@{'/modify/'+${product.getId()}}" class="btn btn-secondary">Modify</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/addProduct}" class="btn btn-dark">Add a new product</a>
</div>
</body>
</html>